<md-toolbar>My App</md-toolbar>
<md-tab-group>
  <md-tab label="One">
    <h1>Some tab content</h1>
    <p>...</p>
  </md-tab>
  <md-tab label="Two">
    <h1>Some more tab content</h1>
    <p>...</p>
  </md-tab>
</md-tab-group>
<md-progress-bar mode="indeterminate"></md-progress-bar>
<span mdTooltip="Tooltip!">I have a tooltip</span>
<span mdTooltip="Tooltip!">I have a tooltip</span>
<span mdTooltip="Tooltip!">I have a tooltip</span>
<span mdTooltip="Tooltip!">I have a tooltip</span>
<md-input-container>
  <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
  <button mdSuffix [mdDatepickerToggle]="picker"></button>
</md-input-container>
<md-datepicker #picker></md-datepicker>
<md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="example-sidenav">
    Jolly good!
  </md-sidenav>

  <div class="example-sidenav-content">
    <md-card>Simple card</md-card>

    <button type="button" md-button (click)="sidenav.open()">
      Open sidenav
    </button>
  </div>

</md-sidenav-container>